@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./cores";

body {
  background-color: $corSecundaria;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;

  .nome {
    p {
      font-size: 30px;
      margin: 0;
      font-weight: 300;
      span {
        color: $corPrincipal;
      }
    }
  }

  .lista {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        position: relative;
        text-decoration: none;
        color: white;
        padding-bottom: 5px;
        transition: color 0.3s ease;

        &:hover {
          color: $corPrincipal;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 1px;
          background-color: $corPrincipal;
          transition: width 0.4s ease, background-color 0.4s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .navbar {
    .lista {
      display: flex;
      width: 150px;
      height: 130px;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      gap: 13px;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: $corSecundaria;
      border-radius: 5px;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.4s ease-out;
      opacity: 0;
      transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
    }

    .menu-icon {
      display: block;
    }
  }

  .navbar.active .lista {
    max-height: 300px;
    opacity: 1;
  }
}
